aside{grid-area: aside;}
main{grid-area: main;}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    display: grid;
    grid-template-areas: 'aside aside main main main';
}
  
ol, ul {
    padding-left: 30px;
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(-45deg, #8152ee, #d65888, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
#resultados {
    display: none;
    flex-wrap: wrap;
    gap: 20px;
}
.tarjeta, form {
    width: 300px;
    min-height: 150px;
    padding: 2px;
    background-color: #222;
    color: white;
    margin-top: 30px;
    border-radius: 5px;
}

#menu{
    width: 200px;
    background-color: #222;
    color: white;
    padding: 10px;
    margin: 30px 40px 0 0;
    border-radius: 5px;
    min-height: 300px;
}

#menu a{
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}